In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import json
import pandas as pd

df = pd.read_csv('locality/tourist_location.csv')
df.head()

                 place            city
0         Eiffel Tower           Paris
1         Space Needle         Seattle
2            Colosseum            Rome
3         Machu Picchu           Cusco
4  Christ the Redeemer  Rio de Janeiro

In [5]:
sub_obj_arr = []
for i, row in df.iterrows():
    sub_obj_arr.append(dict(
            subject = row['place'],
            object = row['city']
        )
    )

In [12]:
with open('raw.json', 'w') as f:
    f.write(json.dumps(sub_obj_arr, indent=4))